@import url('https://googleapis.com');

.main-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 384px;
    height: 522px;
    border-radius: 20px;
    padding: 24px;
    border: 1px solid #111111;

    filter: drop-shadow(8px 8px 0 #111111);
}

.illustration-img {
    border-radius: 10px;
    width: 100%;
}

.tag {
    font-family: 'Figtree', sans-serif;
    font-weight: 800; 
    line-height: 150%;
    letter-spacing: 0%;
    color: #111111;

    display: inline-block;
    padding: 10px 14px;
    background-color: #F4D04E;
    border-radius: 4px;
    
    margin-bottom: 0;
}

.publish {
    font-family: 'Figtree', sans-serif;
    font-weight: 500; 
    line-height: 150%;
    letter-spacing: 0%;
    font-size: clamp(12px, 10vw, 14px);
    color: #111111;

    margin-bottom: 0;
}

.title {
    font-family: 'Figtree', sans-serif;
    font-weight: 800; 
    line-height: 150%;
    letter-spacing: 0%;
    font-size: clamp(20px, 10vw, 24px);
    color: #111111;

    margin-top: 18px;
    margin-bottom: 0;
}

.title:hover {
  color: #F4D04E;
}

.description {
    font-family: 'Figtree', sans-serif;
    font-weight: 500; 
    line-height: 150%;
    letter-spacing: 0%;
    font-size: clamp(14px, 10vw, 16px);
    color: #6B6B6B;

}

.name {
    font-family: 'Figtree', sans-serif;
    font-weight: 800; 
    line-height: 150%;
    letter-spacing: 0%;
    font-size: 14px;
    color: #111111;

    position: relative;
    left: 15px;
    bottom: 20px;
    display: inline;
}


